%section.features
  .section__content
    %h2
      How does it work?
    .steps
      .step
        .step__body
          .step__body__image
            %i.fa.fa-mobile
          .step__body__title
            %h4
              Receive
          .step__body__text
            %p
              Instacart customers will place orders and you will receive them
              on your
              %span
                smartphone
      .step
        .step__body
          .step__body__image
            %i.fa.fa-shopping-cart
          .step__body__title
            %h4
              Shop
          .step__body__text
            %p
              Once the order has been received,
              simply go to the store and
              %span
                shop
              for the items
      .step
        .step__body
          .step__body__image
            %i.fa.fa-money
          .step__body__title
            %h4
              Deliver
          .step__body__text
            %p
              The final step is to
              %span
                deliver
              the goods to the customer and get paid
    .clear
