.hero
  .hero__background
    .hero__background__tint
    .hero__background__image.lazy{ "data-original" => image_path("home/index/background.jpg") }
    .hero__background__content
      .row
        .hero__background__content__image
          = image_tag "logo.png"
      .row
        .hero__background__content__text
          %h1
            Become an Instacart Shopper and
            revolutionize the way people buy groceries
      .row.hero__background__content__actions
        - if logged_in?
          = link_to "View Application", edit_applicant_path(current_applicant),
            class: "form__button"
        - else
          = link_to "Apply Now", new_applicant_path, class: "form__button"
      .row
        = link_to "#", class: "arrow js-buton js-scroll-to",
          "data-scroll-to-key" => "features" do
          .icon
            %i.fa.fa-angle-double-down
