$step__body__image-size: $spacing * 5;

.home-index {
  section.features {
    .steps {
      margin-top: $spacing * 4;
      width: 100%;
      .step {
        @include screen-xs {
          margin-top: $spacing * 4;
          @include span-columns(12);
        }
        @include screen-sm {
          margin-top: $spacing * 4;
          @include span-columns(12);
        }
        @include screen-md-min {
          @include span-columns(4);
        }
        &:first-child {
          @include screen-xs {
            margin-top: 0;
          }
          @include screen-sm {
            margin-top: 0;
          }
        }
        .step__body {
          text-align: center;
          padding: 0 $spacing * 0.75;
          .step__body__image {
            height: $step__body__image-size;
            margin: 0 auto;
            width: $step__body__image-size;
            img {
              height: 100%;
              width: 100%;
            }
            i {
              color: $green;
              font-size: $step__body__image-size;
            }
          }
          .step__body__title, .step__body__text {
            margin-top: $spacing;
          }
          .step__body__text {
            p {
              color: $gray-medium-1;
              span {
                color: $green;
                font-weight: $font-weight-bold;
              }
            }
          }
        }
      }
    }
  }
}
