@import "features";
@import "how";
@import "start";

.home-index {
  header {
    // display: none;
    // left: 0;
    // position: fixed;
    // top: 0;
    // z-index: 10;
  }
  .hero {
    .arrow {
      @include screen-xs {
        margin-top: $spacing * 4;
      }
      @include screen-sm {
        margin-top: $spacing * 4;
      }
      @include screen-md-min {
        margin-top: $spacing * 8;
      }
      display: block;
      width: 100%;
      .icon {
        text-align: center;
        i {
          color: $white;
          font-size: $font-size-large-1;
        }
      }
    }
  }
  .hero__background__content {
    @include screen-xs {
      padding-bottom: $spacing;
      padding-top: $spacing * 5;
    }
    @include screen-sm {
      padding-bottom: $spacing;
      padding-top: $spacing * 5;
    }
    @include screen-md-min {
      padding-bottom: $spacing * 2;
      padding-top: $spacing * 10;
    }
  }
  section {
    .rows {
      padding-bottom: $spacing * 5;
      padding-top: $spacing * 5;
      .row {
        &.row-header {
          text-align: center;
          h2 {
            font-weight: $font-weight-medium;
          }
          .underline {
            border-bottom: 2px solid $blue;
            margin: $spacing auto 0 auto;
            max-width: $spacing * 15;
            width: 100%;
          }
        }
      }
    }
  }
}
