.home-index .start {
  position: relative;
  .background, .tint {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .background {
    @include background-image-default;
    z-index: 0;
  }
  .tint {
    background-color: $black;
    opacity: 0.7;
    z-index: 1;
  }
  .rows {
    @include outer-container;
    position: relative;
    z-index: 2;
  }
  .row {
    @include outer-container;
    padding: 0 $spacing;
    h2, p {
      color: $white;
    }
    .column {
      @include span-columns(12);
      text-align: center;
      fieldset {
        border: none;
        margin: $spacing * 2 0 0 0;
        padding: 0;
        &.show {
          display: none;
        }
        input {
          @include border-radius;
          background-color: transparent;
          border: 1px solid $white;
          color: $white;
          font-size: $font-size-normal-2;
          padding: $spacing;
          width: 100%;
          @include screen-except-lg {
            margin-bottom: $spacing * 0.25;
            text-align: center;
          }
          @include screen-lg {
            margin-right: $spacing * 0.25;
            max-width: $spacing * 20;
          }
          &:focus {
            outline: none;
          }
          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, 0.8);
          }
          &::-moz-placeholder {
            color: rgba(255, 255, 255, 0.8);
          }
          &:-moz-placeholder {
            color: rgba(255, 255, 255, 0.8);
          }
          &:-ms-input-placeholder {
            color: rgba(255, 255, 255, 0.8);
          }
        }
        button {
          @include border-radius;
          background-color: $blue;
          border: 1px solid $blue;
          color: $white;
          font-size: $font-size-normal-2;
          padding: $spacing $spacing * 2;
          @include screen-except-lg {
            margin-top: $spacing * 0.5;
            width: 100%;
          }
          &:hover {
            background-color: $blue-hover;
            border-color: $blue-hover;
            cursor: pointer;
          }
        }
      }
    }
  }
}
