$form__header__image-size: $spacing * 3;

.form--padding {
  padding: $spacing;
}
.form--center {
  margin: $spacing * 2 auto 0 auto;
  max-width: $spacing * 35;
  @include screen-sm {
    padding-left: $spacing;
    padding-right: $spacing;
  }
  @include screen-md-min {
    padding-left: $spacing * 2;
    padding-right: $spacing * 2;
  }
  padding-bottom: 0;
  padding-top: 0;
  .form__header {
    @include border-top-left-radius;
    @include border-top-right-radius;
    background-color: $blue;
    padding: $spacing 0;
    .form__header__image {
      height: $form__header__image-size;
      margin: 0 auto;
      width: $form__header__image-size;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .form__content {
    @include border-bottom-left-radius;
    @include border-bottom-right-radius;
    background-color: $white;
    padding: $spacing * 2;
    padding-top: $spacing;
    h1 {
      font-size: $font-size-medium-1;
      text-align: center;
      margin-bottom: $spacing;
    }
  }
  .form__content__text {
    margin-bottom: $spacing * 2;
  }
  .form__footer {
    margin-top: $spacing;
    p {
      color: $white;
      font-size: $font-size-small-2;
      text-align: center;
    }
  }
}

.form__fields {
  @include outer-container;
  .form__field__column {
    @include screen-md-min {
      @include span-columns(6);
    }
    margin-bottom: $spacing;
  }
  p {
    margin-bottom: $spacing * 0.25;
  }
}
.form__field {
  margin-bottom: $spacing;
  p {
    margin-bottom: $spacing * 0.25;
  }
}
.form__field--medium {
  @extend .form__field;
  margin-bottom: $spacing * 2;
}
.form__field__text {
  @extend .form__field;
  margin-bottom: $spacing * 0.5;
}
.form__field__text--medium {
  @extend .form__field__text;
  p {
    font-size: $font-size-medium-1;
  }
}
