.form__select__field {
  position: relative;
  i {
    margin-top: -0.5 * $spacing;
    position: absolute;
    right: $spacing * 0.5;
    top: 50%;
    z-index: 0;
  }
  select {
    background-color: transparent;
    position: relative;
    z-index: 1;
  }
}
