footer {
  background-color: $white;
  min-height: $footer-height;
  margin-top: $footer-height * -1;
  position: relative;
  width: 100%;
  z-index: 1;
  .footer {
    .footer__copyright {
      text-align: center;
      p {
        color: $text-color;
        font-size: $font-size-small-2;
        line-height: $footer-height;
      }
    }
  }
}

footer {
  .footer {
    padding: 0 $spacing;
    .row {
      @include outer-container;
      .column {
        @include screen-xs {
          @include span-columns(12);
          text-align: center;
        }
        @include screen-sm-min {
          @include span-columns(6);
          &.copyright {
            text-align: right;
          }
        }
        p {
          color: $text-color;
          font-size: $font-size-small-2;
          line-height: $footer-height;
        }
      }
    }
  }
}
