$header-height: $spacing * 3;

header {
  background-color: $white;
  border-bottom: 2px solid $gray-light-3;
  height: $header-height;
  width: 100%;
  .header__container {
    @include outer-container;
    padding-left: $spacing;
    padding-right: $spacing * 0.5;
    .column {
      @include span-columns(6);
      .header__container__logo {
        a {
          display: block;
          font-size: $font-size-medium-2;
          font-weight: $font-weight-medium;
          line-height: $header-height;
          &:hover {
            color: $blue;
          }
        }
      }
      .header__container__navigation {
        float: right;
        ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            float: left;
            a {
              display: block;
              line-height: $header-height;
              padding: 0 $spacing;
              &:hover {
                color: $white;
                background-color: $blue;
              }
            }
          }
        }
      }
    }
  }
}
